[submodule "binary_neurons_network"]
	path = src/submodules/bnn
	url = https://github.com/cortl0/binary_neurons_network
[submodule "src/submodules/logger"]
	path = src/submodules/logger
	url = https://github.com/cortl0/logger
